@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-7xl
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }

  li {
    @apply cursor-pointer
  }

  button {
    @apply shadow-md shadow-gray-400 rounded-xl uppercase bg-white
  }
}

body {
  background-image: url('../../public/acgrass.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#header, .dateTime {
  background: rgb(98,252,73);
  background: radial-gradient(circle, rgba(98,252,73,.5) 0%, rgba(0,152,0,1) 100%);
}