@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold
  }

  h1 {
    @apply text-3xl  md:text-6xl
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }

  li {
    @apply cursor-pointer
  }

  p {
    @apply text-white
  }
}

body {
  background-image: url('../../public/acgrass.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.navItems {
  color: white;
}

.navList {
  list-style-type: none;
}

.carouselActive {
  visibility: visible;
  opacity: 1;
}

.carouselNext {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.carouselPrev {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.carouselHidden {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
