@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold
  }

  h1 {
    @apply text-3xl  lg:text-5xl
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }

  h3 {
    @apply text-2xl sm:text-lg
  }

  li {
    @apply cursor-pointer
  }

  li {
    @apply ease-in-out md:hover:border-b-[3px] md:hover:border-[#5CFC4C]
  }
}

h1, h3, h4 {
  -webkit-text-stroke: 1px #846222;
}

a, svg, div {
  -webkit-tap-highlight-color: transparent;
}

#nav {
  background-image: url('../../public/acgrass.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* .navButton {
  background: #fdf6e3;
  color: #1b9938;
  padding: 0.4rem 1rem;
  margin-left: 0.5rem;
  border-radius: 9999px;
  font-weight: 600;
  transition: background 0.2s ease, transform 0.2s ease;
}

.navButton:hover {
  background: #27ae60;
  color: white;
  transform: scale(1.05);
} */


body {
  height: '100vh';
  background-color: #2ecc71;
}

.card {
  background-size: cover;
  background-position: center;
  position: relative;
  cursor: pointer;
  outline: none;
  transition: scale 100ms;
}

.card .card-front-image {
  position: relative;
  z-index: 2;
}

.card .card-image {
  width: clamp(400px, 20vw, 700px);
  aspect-ratio: 4 / 3;
  border-radius: clamp(0.5rem, 0.75vw, 2rem);
}

.card-faders {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  opacity: 0;
  transition: opacity 1500ms;
  pointer-events: none;
}

.card:hover .card-faders {
  opacity: 1;
}

.card:active {
  scale: 0.98;
}

.card-fader {
  position: absolute;
  left: 0px;
  top: 0px;
}

.card-fader:nth-child(odd) {
  animation: fade-left 3s linear infinite;
}

.card-fader:nth-child(even) {
  animation: fade-right 3s linear infinite;
}

.card-fader:is(:nth-child(3), :nth-child(4)) {
  animation-delay: 750ms;
}

.card-fader:is(:nth-child(5), :nth-child(6)) {
  animation-delay: 1500ms;
}

.card-fader:is(:nth-child(7), :nth-child(8)) {
  animation-delay: 2250ms;
}

@media(max-width: 1200px) {
  
  #cards {
    flex-direction: column; 
    align-items: center;
    gap: 4rem;
    padding: 4rem;
  }
  
  .card .card-image {
    width: 400px;    
  }
}

@media(max-width: 600px) {
  #cards {
    gap: 2rem;
    padding: 2rem;
  }
  
  .card {
    width: 80%;    
  }
  
  .card .card-image {
    width: 100%;    
  }
}

@keyframes fade-left {
  from {
    scale: 1;
    translate: 0%;
    opacity: 1;
  }
  
  to {
    scale: 0.8;
    translate: -30%;
    opacity: 0;
  }
}

@keyframes fade-right {
  from {
    scale: 1;
    translate: 0%;
    opacity: 1;
  }
  
  to {
    scale: 0.8;
    translate: 30%;
    opacity: 0;
  }
}
